name: Monthly issue metrics
on:
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: read

jobs:
  build:
    name: issue metrics
    runs-on: ubuntu-latest

    steps:
    - name: Run issue-metrics tool
      id: issue-metrics
      uses: github/issue-metrics@v2
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SEARCH_QUERY: 'repo:George-Smirnoff/githubActions is:pr created:2023-08-01..2023-08-31'

    - name: Print output of issue metrics tool
      run: echo "${{ steps.issue-metrics.outputs.metrics }}"

    # - name: Create issue
    #   uses: peter-evans/create-issue-from-file@v4
    #   with:
    #     title: Monthly issue metrics report
    #     token: ${{ secrets.GITHUB_TOKEN }}
    #     content-filepath: ./issue_metrics.md
    #     assignees: <YOUR_GITHUB_HANDLE_HERE>
